* {
  margin: 0;
  padding: 0;
}
button {
  min-height: 8vh;
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
}
ul {
  margin: 70px;
  padding: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

li:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

table {
  margin: 0 auto;
}
.regular {
  /* Estilos para alumnos regulares */
  background-color: green;
}

.no-regular {
  /* Estilos para alumnos no regulares */
  background-color: rgb(102, 6, 6);
}
