<h1 class="title">
  {{ title }}
</h1>
<app-modo-nocturno class="modo-nocturno"></app-modo-nocturno>
<app-footer class="footer"></app-footer>
<app-lista class="lista"></app-lista>

<div class="row">
  <div class="col-4">
    <app-cards
      title="Clase de Inglés"
      (clickEv)="onClick($event)"
      imgSrc="https://images.pexels.com/photos/4386429/pexels-photo-4386429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    ></app-cards>
  </div>

  <div class="col-4">
    <app-cards
      title="Clase de Chino"
      (clickEv)="onClick($event)"
      imgSrc="https://images.pexels.com/photos/4386429/pexels-photo-4386429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    ></app-cards>
  </div>

  <div class="col-4">
    <app-cards
      title="Clase de Alemán"
      (clickEv)="onClick($event)"
      imgSrc="https://images.pexels.com/photos/4386429/pexels-photo-4386429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    ></app-cards>
  </div>
  <div class="col-4">
    <app-cards
      title="Clase de Francés"
      (clickEv)="onClick($event)"
      imgSrc="https://images.pexels.com/photos/4386429/pexels-photo-4386429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    ></app-cards>
  </div>
  <div class="col-4">
    <app-cards
      title="Clase de Portugués"
      (clickEv)="onClick($event)"
      imgSrc="https://images.pexels.com/photos/4386429/pexels-photo-4386429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    ></app-cards>
  </div>
  <div class="col-4">
    <app-cards
      title="Clase de Japonés"
      (clickEv)="onClick($event)"
      imgSrc="https://images.pexels.com/photos/4386429/pexels-photo-4386429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    ></app-cards>
  </div>
</div>
