<h1>Formulario de información</h1>

<form [formGroup]="userForm">
  <!-- Email control -->
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      formControlName="email"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>

  <!-- Password control -->
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button (click)="onSubmit()" class="btn btn-primary" type="submit">
    Enviar
  </button>
</form>
{{ userForm.value | json }}
