<div class="card" style="width: 60%">
  <img *ngIf="imgSrc.length" [src]="imgSrc" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 *ngIf="title.length" class="card-title">{{ title }}</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <button
      (click)="clickEv2.emit()"
      *ngIf="btn.length"
      href="#"
      class="btn btn-primary"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
      [ngClass]="{ hovered: isHovered }"
    >
      {{ btn }}
    </button>
  </div>
</div>
