img {
  height: 20rem;
}

.btn-primary {
  background-color: #480f50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo para el botón cuando está hovered */
.hovered {
  background-color: #8e38b3;
  color: #fff;
}
